.wd-100 {
    width: 100%;
}

.m-16 {
    margin: 16px;
}

.m-t-12{
    margin-top: 12px;
}

.m-b-12 {
    margin-bottom: 12px;
}

.m-l-12 {
    margin-left: 12px;
}
.m-l-16 {
    margin-left: 16px;
}

.m-r-12 {
    margin-right: 12px;
}

.m-l-8 {
    margin-left: 8px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-t-8 {
    margin-top: 8px;
}




.d-flex {
    display: flex;
}

.d-flex-clm {
    flex-direction: column;
}

.aln-slf {
    
    justify-self: flex-start;
}

.jstfy-cnt-spa {
    justify-content: space-around;
}

.jstfy-cnt-spb {
    justify-content: space-between;
}

.aln-itm-cntr {
    align-items: center;
}

.f-1 {
    flex: 1;
}



.bg-wht {
    background-color: #fff;
}

.wht {
    color: #fff;
}

.bld {
    font-weight: bolder;
}