.main {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    z-index: 999;
}